.main {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28pt;
    background-color: #00000099;
    color: lightgrey;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: sans-serif;
    border-radius: 10px;
    text-align: center;
    /* width: 80%; */
}

button {
    padding: 12px;
    font-size: 15pt;
    color: lightgrey;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: black 1px solid;
}

button:hover {
    background-color: rgba(0,0,0,0.5)
}

button:active {
    /* background-color: paleturquoise; */
}
